[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	abandon = group Galaxy Mega and s4 Mini
	label-Code-Review = -2..+2 group Galaxy Mega and s4 Mini
	labelAs-Code-Review = -2..+2 group Galaxy Mega and s4 Mini
	rebase = group Galaxy Mega and s4 Mini
	submit = group Galaxy Mega and s4 Mini
	submitAs = group Galaxy Mega and s4 Mini
